<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Medical Healthcare | About Us</title>
  </head>
  <body>
    <!-- HEADER PAGE STARTS HERER -->
    <header>
      <nav class="nav-links-container">
        <a href="../index.html" class="main-title"
          ><i class="fa-solid fa-stethoscope"></i>&nbsp; Medical Healthcare</a
        >
        <a href="home.html" class="nav-links">HOME</a>
        <a href="#" class="nav-links">PROFILE</a>
        <a href="about.html" class="nav-links nav-links-active">ABOUT</a>
        <a href="../index.html" class="nav-links login-link">LOGOUT</a>
      </nav>
    </header>

    <!-- MAIN BODY STARTS HERE -->
    <main>
      <div id="about-us" class="about-us">
        <div class="about-us-title">Medical Healthcare programs</div>
        <div class="about-us-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos magni,
          dolore explicabo voluptatum pariatur placeat velit repellendus illum
          cumque voluptas iste corporis soluta ullam hic minima reiciendis
          impedit ratione corrupti vitae veritatis excepturi modi eum possimus
          at. Nam aspernatur eaque earum quibusdam ipsum aliquam sapiente illo
          molestiae impedit atque? Labore cupiditate, alias quia quaerat odit
          magni obcaecati perferendis dolore ex sed accusantium possimus.
          Delectus accusantium labore consequatur! Optio eligendi soluta iste
          laudantium voluptatibus doloribus reiciendis quo ullam deleniti
          repudiandae nostrum at quod recusandae voluptatum totam eos architecto
          laborum quas voluptates numquam, dignissimos, officiis autem. Culpa
          tenetur incidunt asperiores dolorem cum?
        </div>
      </div>
      <div class="video-container">
        <video
          src="../HealthCare.mp4"
          class="video-element"
          controls
          muted
          width="400"
        ></video>
      </div>
      <div id="testimonials" class="testimonials">
        <div class="scroller scroller-left">&langle;</div>
        <div class="testimonial-container">
          <div class="testimonial-body">
            <span class="testimonial-title">The best health service!</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            non a doloremque dicta, inventore quisquam fugit mollitia recusandae
            hic delectus?
          </div>
          <div class="testimonial-header">
            <img
              src="user.png"
              width="40"
              height="40"
              alt="img"
              class="testimonial-img"
            />
            <a href="#">
              <span class="testimonial-name">John Doe</span>
              <address>Newyork Us</address>
            </a>
          </div>
        </div>
        <div class="scroller scroller-right">&rangle;</div>
      </div>
    </main>

    <!-- FOOTER PAGE STARTS HERE -->
    <footer>
      <div class="social-links-container">
        <div>
          <a href="#" class="social-link">
            <i class="fa-brands fa-youtube"></i>&nbsp; YouTube</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-instagram"></i>&nbsp;Instagram</a
          >
        </div>
      </div>
      <div class="address-container">
        <table>
          <tr>
            <td colspan="2" class="table-header">Reach Us on</td>
          </tr>
          <tr>
            <td>City</td>
            <td>Addis Ababa</td>
          </tr>
          <tr>
            <td>Street</td>
            <td>some road 232</td>
          </tr>
          <tr>
            <td>P.O.Box</td>
            <td>4234</td>
          </tr>
          <tr>
            <td>tel</td>
            <td>+251987654321</td>
          </tr>
        </table>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
