<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Chat | Medical Healthcare</title>
    <script defer src="../Scripts/inPageScript.js"></script>
  </head>
  <body>
    <!-- HEADER PAGE STARTS HERER -->
    <header class="in-pages">
      <div class="nav-icon">
        <!-- <i class="fa-solid fa-xmark"></i> -->
        <i class="fa-solid fa-bars"></i>
      </div>
      <nav class="nav-links-container">
        <a href="../index.html" class="main-title"
          ><i class="fa-solid fa-stethoscope"></i>&nbsp; Medical Healthcare</a
        >
        <a href="home.html" class="nav-links">HOME</a>
        <a href="pharmacy.html" class="nav-links">PHARMACY</a>
        <a href="profile.html" class="nav-links">PROFILE</a>
        <a href="about.html" class="nav-links active">ABOUT</a>
        <a href="../index.html" class="nav-links btn login-link center-inside"
          >LOGOUT</a
        >
      </nav>
    </header>
    <!-- MAIN PAGE STARTS HERE -->
    <main>
      <!-- prettier-ignore -->
      <div class="chat-container">
        <a href="#" class="chat-header">
          <img src="../user.png" alt="pp" />
          <span class="chat-name">John Doe</span>
        </a>
        <div class="chat-message-container">
            <span class="chat-messages">Lorem, ipsum dolor.</span>
            <span class="chat-messages">Lorem, ipsum dolor.</span>
            <span class="chat-messages">Lorem, ipsum dolor.</span>
            <span class="chat-messages">Lorem, ipsum dolor.</span>
            <span class="chat-messages">Lorem, ipsum dolor.</span>
            <span class="chat-messages">Lorem, ipsum dolor.</span>
        </div>
        <form action="#">
          <input type="text" id="chat-send" placeholder="write message here" />
          <input type="submit" value="send &raquo;" />
        </form>
      </div>
    </main>
    <!-- FOOTER PAGE STARTS HERE -->
    <footer>
      <div class="social-links-container">
        <div>
          <a href="#" class="social-link">
            <i class="fa-brands fa-youtube"></i>&nbsp; YouTube</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-instagram"></i>&nbsp;Instagram</a
          >
        </div>
      </div>
      <div class="address-container">
        <table>
          <tr>
            <td colspan="2" class="table-header">Reach Us on</td>
          </tr>
          <tr>
            <td>City</td>
            <td>Addis Ababa</td>
          </tr>
          <tr>
            <td>Street</td>
            <td>some road 232</td>
          </tr>
          <tr>
            <td>P.O.Box</td>
            <td>4234</td>
          </tr>
          <tr>
            <td>tel</td>
            <td>+251987654321</td>
          </tr>
        </table>
      </div>
      <div class="copyright">
        developed by AASTU 3<sup>rd</sup> year section B group 3 software
        engineering students &copy;2023
      </div>
    </footer>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
