<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Medical Healthcare | Login</title>
  </head>
  <body>
    <!-- HEADER PAGE STARTS HERER -->
    <header>
      <nav class="nav-links-container">
        <a href="../index.html" class="main-title"
          ><i class="fa-solid fa-stethoscope"></i>&nbsp; Medical Healthcare</a
        >
        <a href="login.html" class="nav-links login-link">LOGIN</a>
        <a href="signup.html" class="nav-links signup-link">SIGNUP</a>
      </nav>
    </header>

    <!-- MAIN PAGE STARTS HERE -->
    <main class="login-container">
      <div class="login-message">
        Let's connect &nbsp;
        <span class="highlight"> to your healthy </span><br />
        life at &nbsp; <span class="highlight"> the best</span> hospital
      </div>
      <form action="home.html" method="get" class="login-form">
        <div class="email-container">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="your email"
            name="email"
            class="email"
          />
        </div>
        <div class="password-container">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="your password"
            class="password"
          />
        </div>
        <div class="submit-container">
          <input type="submit" value="LOGIN" id="submit" class="submit-btn" />
          <div class="no-account">
            didn't have an account? <a href="signup.html">create account</a>
          </div>
        </div>
      </form>
    </main>

    <!-- FOOTOR PAGE STARTS HERE -->
    <footer>
      <div class="social-links-container">
        <div>
          <a href="#" class="social-link">
            <i class="fa-brands fa-youtube"></i>&nbsp; YouTube</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-instagram"></i>&nbsp;Instagram</a
          >
        </div>
      </div>
      <div class="address-container">
        <table>
          <tr>
            <td colspan="2" class="table-header">Reach Us on</td>
          </tr>
          <tr>
            <td>City</td>
            <td>Addis Ababa</td>
          </tr>
          <tr>
            <td>Street</td>
            <td>some road 232</td>
          </tr>
          <tr>
            <td>P.O.Box</td>
            <td>4234</td>
          </tr>
          <tr>
            <td>tel</td>
            <td>+251987654321</td>
          </tr>
        </table>
      </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
