<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Profile | Medical Healthcare</title>
  </head>
  <body>
    <!-- HEADER PAGE STARTS HERER -->
    <header>
      <nav class="nav-links-container">
        <a href="../index.html" class="main-title"
          ><i class="fa-solid fa-stethoscope"></i>&nbsp; Medical Healthcare</a
        >
        <a href="home.html" class="nav-links">HOME</a>
        <a href="pharmacy.html" class="nav-links">PHARMACY</a>
        <a href="profile.html" class="nav-links active">PROFILE</a>
        <a href="about.html" class="nav-links">ABOUT</a>
        <a href="../index.html" class="nav-links btn login-link center-inside"
          >LOGOUT</a
        >
      </nav>
    </header>

    <!-- MAIN BODY STARTS HERE -->
    <main>
      <div class="profile-container">
        <div class="home-feed-container profile-feed-container">
          <div class="home-feed-profile-link">
            <img src="../user.png" alt="img" width="40" class="feed-post-img" />
            <a href="#" class="feed-post-profile">John Doe</a>
          </div>
          <div class="home-feed-post-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
            animi sunt deleniti enim provident maxime sapiente, non eius odio
            sequi!
          </div>
          <div class="home-feed-post-picture">
            <img src="../stethoscope.jpg" alt="img" />
          </div>
          <div class="home-feed-post-status">
            <a href="#" class="like"
              ><span class="like-count">120</span> &uArr;
            </a>
            <a href="#" class="unlike"
              ><span class="unlike-count">22</span> &dArr;
            </a>
            <a href="#" class="comment"
              ><span class="comment-count">42</span> comments
            </a>
          </div>
        </div>
        <div class="home-feed-container profile-feed-container">
          <div class="home-feed-profile-link">
            <img src="../user.png" alt="img" width="40" class="feed-post-img" />
            <a href="#" class="feed-post-profile">John Doe</a>
          </div>
          <div class="home-feed-post-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
            animi sunt deleniti enim provident maxime sapiente, non eius odio
            sequi!
          </div>
          <div class="home-feed-post-picture">
            <img src="../stethoscope.jpg" alt="img" />
          </div>
          <div class="home-feed-post-status">
            <a href="#" class="like"
              ><span class="like-count">120</span> &uArr;
            </a>
            <a href="#" class="unlike"
              ><span class="unlike-count">22</span> &dArr;
            </a>
            <a href="#" class="comment"
              ><span class="comment-count">42</span> comments
            </a>
          </div>
        </div>
        <div class="home-feed-container profile-feed-container">
          <div class="home-feed-profile-link">
            <img src="../user.png" alt="img" width="40" class="feed-post-img" />
            <a href="#" class="feed-post-profile">John Doe</a>
          </div>
          <div class="home-feed-post-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
            animi sunt deleniti enim provident maxime sapiente, non eius odio
            sequi!
          </div>
          <div class="home-feed-post-picture">
            <img src="../stethoscope.jpg" alt="img" />
          </div>
          <div class="home-feed-post-status">
            <a href="#" class="like"
              ><span class="like-count">120</span> &uArr;
            </a>
            <a href="#" class="unlike"
              ><span class="unlike-count">22</span> &dArr;
            </a>
            <a href="#" class="comment"
              ><span class="comment-count">42</span> comments
            </a>
          </div>
        </div>
        <a href="#" class="next-feed-btn btn">See more &rarr;</a>
      </div>
    </main>

    <!-- FOOTER PAGE STARTS HERE -->
    <footer>
      <div class="social-links-container">
        <div>
          <a href="#" class="social-link">
            <i class="fa-brands fa-youtube"></i>&nbsp; YouTube</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</a
          >
        </div>
        <div>
          <a href="#" class="social-link"
            ><i class="fa-brands fa-instagram"></i>&nbsp;Instagram</a
          >
        </div>
      </div>
      <div class="address-container">
        <table>
          <tr>
            <td colspan="2" class="table-header">Reach Us on</td>
          </tr>
          <tr>
            <td>City</td>
            <td>Addis Ababa</td>
          </tr>
          <tr>
            <td>Street</td>
            <td>some road 232</td>
          </tr>
          <tr>
            <td>P.O.Box</td>
            <td>4234</td>
          </tr>
          <tr>
            <td>tel</td>
            <td>+251987654321</td>
          </tr>
        </table>
      </div>
      <div class="copyright">
        developed by AASTU 3<sup>rd</sup> year section B group 3 software
        engineering students &copy;2023
      </div>
    </footer>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
